/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    // --- Pre-processing & Reference Modules ---

    withName: '.*CLEAN_AND_INDEX_BAM' {
        publishDir = [
            path: { "${params.outdir}/IndexFiles/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '*.{bam,bam.bai}'
        ]
    }

    withName: '.*GENERATE_COUNT_MATRIX_BAM' {
        publishDir = [
            path: { "${params.outdir}/Counts/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '**/*_refined_counts.txt'
        ]
    }

    withName: '.*GENERATE_COUNT_MATRIX_BED' {
        publishDir = [
            path: { "${params.outdir}/Counts/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: '**/*.tab'
        ]
    }

    withName: '.*GENERATE_GENOME_BINS' {
        publishDir = [
            path: { "${params.outdir}/References/${params.genome}" },
            mode: params.publish_dir_mode,
            pattern: "*.bed"
        ]
    }

    withName: '.*CUSTOM_FILTERCHROMSIZES' {
        publishDir = [
            path: { "${params.outdir}/References/${params.genome}" },
            mode: params.publish_dir_mode,
            pattern: "${params.genome}.chrom.sizes.V2"
        ]
    }
        withName: '.*CUSTOM_DOWNLOADCHROMSIZES' {
        publishDir = [
            path: { "${params.outdir}/References/${params.genome}" },
            mode: params.publish_dir_mode,
            pattern: "${params.genome}.chrom.sizes"
        ]
    }


    withName: '.*MERGE_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/Counts/${meta.id}/MergedCounts" },
            mode: params.publish_dir_mode,
            pattern: "*_seg_tabs_counts.bed"
        ]
    }

    withName: '.*SPLIT_MERGED_COUNTS' {
        publishDir = [
            path: { "${params.outdir}/Counts/${meta.id}/BinnedCounts" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName: '.*GENERATE_METHYLATION_BINS' {
        publishDir = [
            path: { "${params.outdir}/Counts/${meta.id}/${meta.id}_${meta.modality}" },
            mode: params.publish_dir_mode
        ]
    }

    // --- Modeling Specific Modules (STD, DNA, DM) ---

    withName: '.*(STD|DNA|DM)_PREPARE' {
        publishDir = [ 
            path: { "${params.outdir}/EpiSegMix/${meta.id}/Models" },
            mode: params.publish_dir_mode,
            pattern: '*.{yaml,txt}' 
         ]
    }
    
    withName: '.*(STD|DNA|DM)_TRAIN' {
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${meta.id}/Models" },
            mode: params.publish_dir_mode,
            pattern: '*.{json,log}'
        ]
    }
    
    withName: '.*(STD|DNA|DM)_DECODE' {
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${meta.id}/Segmentation" },
            mode: params.publish_dir_mode,
            pattern: 'segmentation/*.{bed.gz,txt}',
            saveAs: { file -> file.tokenize('/').last() }
        ]
    }
    
    withName: '.*(STD|DNA|DM)_REPORT' {
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${meta.id}/Plots" },
            mode: params.publish_dir_mode,
            pattern: '**/*.{png,html}', 
            saveAs: { file -> file.tokenize('/').last() }
        ]
    }

    // --- Assess module from the fitting logic ---
    withName: '.*DISTFIT_HISTONE_ASSESS' {
        publishDir = [
            path: { "${params.outdir}/EpiSegMix/${meta.id}/Fitting" },
            mode: params.publish_dir_mode,
            pattern: '*.csv',
            saveAs: { file -> file.tokenize('/').last() }
        ]
    }
}